<h1>SoundcloudQuery#index</h1>
<%= link_to 'New Query', '/soundcloud_queries/new' %>
<hr>
<% @users.each do |u| %>
	<%= link_to u.user_hash[:permalink_url], target: '_blank' do %>
		<div><%= u.id %></div>
		<div>	Soundcloud username: <%= u.user_name  %></div>
		<div>	Soundcloud url: <%= u.user_hash[:permalink_url]%></div>
		<br>
	<% end %>
<% end %>
